<p style="color: green"><%= notice %></p>

<h1>Pantries</h1>

<div id="pantries">
  <% @pantries.each do |pantry| %>
    
    <%= render pantry %>
    <p>
      <%= link_to "Show this pantry", pantry %>
    </p>
  <% end %>
</div>

<%= link_to "New pantry", new_pantry_path %>
