<h1>Editing food item</h1>

<%= render "form", food_item: @food_item %>

<br>

<div>
  <%= link_to "Show this food item", @food_item %> |
  <%= link_to "Back to food items", food_items_path %>
</div>
